nav.contact-nav {
  color: #FFFFFF;
}

nav.contact-nav h1 a, nav.contact-nav .menu a {
  @include respond-to(medium-plus) {
    color: inherit;
  }
}

div.marquee-container.contact-page-marquee {
  background-image: url('../images/matt_aubin143-1.jpg');
}

main.contact-page {
  .container.narrow {
    max-width: 600px;
    flex-flow: column nowrap;
  }
  form {
    width: 100%;
    > * {
      display: block;
      width: 100%;
    }

    input {
      margin-bottom: 2em;
    }

    textarea {
      margin: 0 0 2em 0;
      height: 150px;
    }

    input[type=text], input[type=email], textarea {
      padding: 0.5em 1em;
    }

    input[type=submit] {
      margin: 0 auto;
      padding: 10px;
      border: none;
      width: 50%;
      background-color: $secondary-color;

      &:hover {
        cursor: pointer;
      }

    }
  }

  #success, #error {
    text-align: center;
  }
}
