nav.home-page-nav {
  @include respond-to(medium-plus) {
    display: none;
  }
}

div.marquee-container {
  min-height: 250px;
  display: flex;
  flex-flow: row nowrap;

  .marquee-left {
    flex: 1;
    margin-right: -200px;
    background-color: $base-color;
    clip-path: polygon(0 100%, 0 0, 100% 0, 90% 100%);


    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    .name-container h1 {
      padding: 2em 0;
      line-height: 1em;
      font-size: 4em;
    }
  }

  // .marquee-left:after {
  //   clip-path: polygon(0 100%, 0 0, 100% 0, 90% 100%);
  //   background-color: #000000;
  //   content: "";
  //   position: absolute;
  // }

  .marquee-right {
    flex: 1;
    background-image: url('../images/matt_aubin015.jpg');
    background-size: 1000px auto;
    background-position-x: -180px;
  }
}


main.home-page .container {
  flex-flow: column nowrap;

  @include respond-to(medium-plus) {
    flex-flow: row wrap;
    max-width: 980px;
  }

  .col-1, .col-2 {
    margin-bottom: 1em;
    flex: 1;
  }

  .col-1 {

    @include respond-to(medium-plus) {
      flex: 3;
      margin-right: 4em;
    }
  }

  .col-2 {
    @include respond-to(medium-plus) {
      flex: 1;
    }

    h2 {
      text-align: center;
    }
  }
}
